* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    display: flex;
    align-items:center; /*центр относительно высоты*/
    justify-content: center;
    background-color: #E0FFFF;
    font-family: century gothic; /*шрифт*/
}

p /*параграф*/
{
    margin: 5px;
}
a /*ссылка*/
{
    color: #696969;
}

form
{
    display:flex;
    flex-direction:column;
    width: 380px;
}

input
{
    margin: 3px;
    padding: 3px;
    border: unset;
    border-bottom: 1px solid #696969;
    border-radius: 5px 5px 5px 5px;
    /*border-style: solid;*/
    outline: none;
}

button
{
    font-family: century gothic;
    margin: 3px;
    padding: 3px;
    color: #696969;
    border: unset;
    border-color: #ADD8E6;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.msg
{
    border: 2px dotted #B22222;
    border-radius: 3px;
    padding: 10px;
    color: #B22222;
    text-align: center;
    font-weight: bold;
}

.logout
{
    color: #b7625c;
}
